.Sw-main{
    width: 100%;
    height:650px;
    background-color: #20cd9f;

    &__header{
        display: flex;
        align-items: center;
        padding-left: 20px;
        width: 100%;
        height: 80px;
        background-color: #000;
    }

    &__Stopwatch-display{
        text-align: center;
        padding: 25px;
        font-size: 35px;
        font-weight: bold;
        color:#000;

        &__para{
            font-size: 40px;
            font-weight: bold;
            font-style: italic;
            color: #072533;
        }
    }

    &__buttonContainer{
        width: 100%;
        text-align: center;

        &__button{
            color: #fff;
            background-color:#072533;
            border: 1px solid #20cd9f;
            padding: 8px 12px;
            font-size: 20px;
            font-weight: 600;
            border-radius: 10px;
            cursor: pointer;
            outline: none;

            &:hover {
                cursor: pointer;
                color:#000;
                background-color: #fff;
              }
        }
    }
}